@import url('https://fonts.googleapis.com/css2?family=Charm&family=Dosis&family=Quicksand&display=swap');
/* 
$RESET 
*/
* {
    margin: 0;
    padding: 0;
}

.Reservation_title{
    background-color: #180505;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 162px;
    align-items: center;
}
main{
    background-color: antiquewhite;
}
.titre_color{
    color: #ED3232;
    font-family: Charm;
    font-size: 50px;
    font-weight: bold;
}
.reservation{
    justify-content: center;
    text-align: center;
}
.formulaire{
    padding: 59px 100px;
}
.up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: FFF2E3;
    gap: 48px;
}
.up input{
    width: 270px;
    height: 39px;
}
.formulaire h4{
    font-family: Dosis;
    font-weight: bold;
    font-size: 30px;
}
.info{
    display: flex;
    flex-direction: column;
}
.time{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 487;
}
.info2{
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 487;
}

.up .place{
    width: 270px;
    height: 39px;
}

.final .msg{
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}

.msg input {
    height: 307px;
    width: 913px;
}

.bouton_envoyer{
    display: flex;
    justify-content: center;

}
#button{
    background-color: #180505;
    border-radius: 10px;
    border: 4px double #180505;
    color:#FFF;
    cursor: pointer;
    padding: 1px 20px;
    margin: 5px 4px;
    width: 179px;
    height: 39px;
    align-items: center;
}
h4{
    color: #180505;
}
input, select{
    border-radius: 10px;
    border: 1px solid #180505 ;

}
.Pour_passer_un_moment_mémorable{
    font-family: Quicksand;
    font-style: 20px;
}
